.carousel-img-custom {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;       
    height: 12px !important;     
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    border: none;                
}

.carousel-indicators .active {
    opacity: 1 !important;
    background-color: #F4C2C2 !important; 
}

.footer{
    margin-top: 50px;
    background-color: #F4C2C2;
    min-height: 250px;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-clamp-safe {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  width: 100%; 
  word-break: break-word; 
}

.heart {
    color: #6c757d;
    cursor: pointer;
    transition: 0.3s;
}

.heart.active {
    color: var(--bs-danger);
}


