
.hero{
    margin-top: 85px;
    background-color: #F4C2C2;
    height: 200px;

    display: flex;
    align-items: center;
}

.empty-state {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb-item a {
    color: #666;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #8B3A3A;
}